.input {
  max-width: 60px;
  min-height: 45px;
  max-height: 45px;
  text-align: center;
  color: var(--color-text-primary);
  background-color: var(--color-bg-input);
  border: 1px solid var(--color-border);
  border-radius: 8px;

  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.36px;
  line-height: 27px;
}
