.ratingWrapper {
  margin-top: 20px;
}

.ratingLogo {
  width: 5rem;
  height: auto;
  filter: invert(0);
}

:root[data-theme="dark"] .ratingLogo {
  filter: invert(1);
}

.rating {
  display: flex;
  align-items: center;

  color: #666;
  font-size: 0.9rem;
}

.rating p {
  margin: 0px;
}

.starIcon {
  color: #22c55e;
  margin-right: 0.5rem;
}

.greenText {
  color: #22c55e;
  font-weight: 600;
}
