.orderpage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 300px;
  min-width: 1200px;

  background-image: url("../../assets/images/backgrounds/menu-background.svg");
  background-size: cover;
  background-position: right top;
  background-repeat: no-repeat;
}

.header {
  margin-top: 75px;
}

.cardsWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;

  max-width: 950px;
}

.emptyCartMessage {
  font-size: 1.5rem;
  text-align: center;
  margin-top: 2rem;
  color: #888;
}

.address {
  margin-top: 20px;
  margin-bottom: 20px;
}

.inputField {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 20px;
}

.address label {
  width: 100px;
  text-align: left;

  color: #08090a;

  font-family: Inter;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.6px;
}

.address input {
  min-width: 430px;
  min-height: 45px;

  padding-left: 15px;

  background-color: #fafafa;

  border: 1px solid #dddddd;
  border-radius: 6px;

  color: black;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 27px;
  letter-spacing: 0.36px;
}
