.btn {
  font-family: Inter;
  font-size: 17px;
  font-weight: 400;
  color: #ffffff;

  padding: 0.8rem 1.8rem;
  border: none;
  border-radius: 6px;
}

.btnRegular {
  background-color: var(--highlight-color);

  cursor: pointer;
  transition: background-color 0.2s ease;
}

.btnOutlined {
  color: #222222;
  background: transparent;
  border: 1px solid rgba(97, 114, 131, 0.2);
}
