.menupage {
  padding-top: 100px;
  padding-bottom: 100px;

  background-image: url("../../assets/images/backgrounds/menu-background.svg");
  background-size: cover;
  background-position: right top;
  background-repeat: no-repeat;
}

.pageDescription {
  font-family: Inter;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 0.36px;

  color: #546285;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.highlight {
  color: var(--primary-color);
  cursor: pointer;
  position: relative;
}

.tooltip::after {
  content: attr(data-tooltip);
  position: absolute;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--primary-color);
  color: #fff;
  padding: 6px 10px;
  border-radius: 4px;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease-in-out;
  font-size: 0.85rem;
  z-index: 10;
}

.tooltip:hover::after {
  opacity: 1;
}
