.orderItem {
  display: flex;
  justify-content: space-between;

  width: 100%;

  padding: 20px;

  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
}

.left {
  display: flex;
  align-items: center;
  gap: 20px;
}

.right {
  display: flex;
  align-items: center;
  gap: 20px;
}
