.card {
  display: flex;

  max-width: 520px;
  padding: 20px;

  background-color: #ffffff;

  border: 1px solid var(--primary-color-opaque-15);
  border-radius: 6px;
}

.cardImage {
  display: flex;
  align-items: center;
}

.cardInfo {
  display: flex;
  flex-direction: column;
  flex: 1;

  padding-top: 5px;
  padding-left: 25px;
}

.cardImage img {
  max-width: 120px;
  max-height: 120px;
}

.cardHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cardDescription {
  text-align: left;
  margin-top: 0px;
  margin-bottom: 5px;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;

  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.32px;
  line-height: 24px;

  color: #546285;
}

.cardControl {
  display: flex;
  justify-content: flex-start;
  gap: 0.5rem;
}

.cardControl input {
  max-width: 60px;
  max-height: 45px;
  text-align: center;
  background-color: #fafafa;
  border-radius: 8px;
  border: 1px solid #dddddd;

  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.36px;
  line-height: 27px;
}
