.card {
  display: flex;
  justify-content: space-between;

  max-width: 520px;
  padding: 20px;

  background-color: #ffffff;
}

.card-image {
  display: flex;
  align-items: center;
}

.card-info {
  padding-top: 5px;
  padding-left: 25px;
}

.card img {
  max-width: 120px;
  max-height: 120px;
}

.card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-header span {
  font-family: Inter;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0%;
  color: var(--highlight-color);
}

.card-title {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.6px;
  line-height: 20px;
  color: #08090a;
}

.card-description {
  text-align: left;
  margin-top: 0px;
  margin-bottom: 5px;

  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.32px;
  line-height: 24px;

  color: #546285;
}

.card-control {
  display: flex;
  justify-content: flex-start;
  gap: 0.5rem;
}

.card-control input {
  max-width: 60px;
  max-height: 45px;
  text-align: center;
  background-color: #fafafa;
  border-radius: 8px;
  border: 1px solid #dddddd;

  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.36px;
  line-height: 27px;
}
