.homepage {
  display: flex;
  flex-direction: column;

  background-image: url("../assets/images/backgrounds/hero-background.svg");
  background-size: cover;
  background-position: right top;
  background-repeat: no-repeat;
}

.hero {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  padding: 4rem 2rem;
  gap: 2rem;
}

.hero-content {
  max-width: 500px;
  text-align: left;
}

.hero-content h1 {
  font-size: 2.3rem;
  line-height: 1.3;
  margin-bottom: 1rem;
}

.hero-content p {
  color: #666;
  margin-bottom: 1.5rem;
}

.highlight {
  color: var(--highlight-color);
}

.hero-image {
  position: relative;
}

.hero-image img {
  border-radius: 20px;
  width: 280px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

@media (min-width: 768px) {
  .hero {
    flex-direction: row;
    justify-content: space-between;
    padding: 6rem 4rem;
  }
}
