.header {
  background-color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 5rem;
  padding-right: 5rem;
}

.nav-links-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 5rem;
}
