.loginpage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  min-height: 600px;

  background-image: url("../../assets/images/backgrounds/menu-background.svg");
  background-size: cover;
  background-position: right top;
  background-repeat: no-repeat;
}

.login {
  max-height: 283px;

  padding: 40px;

  border: 1px solid var(--primary-color-opaque-15);
  border-radius: 6px;

  background-color: #ffffff;
}

.errorMessage {
  margin: 10px;
  padding: 10px;
  text-align: left;

  background-color: #fee2e2;
  color: #991b1b;
  border-radius: 8px;
  border: 1px solid #fecaca;
  font-size: 14px;
}

.input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  width: 550px;

  padding: 10px;
}

.input label {
  width: 100px;
  text-align: left;

  color: #08090a;

  font-family: Inter;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.6px;
}

.input input {
  min-width: 430px;
  min-height: 45px;

  padding-left: 15px;

  background-color: #fafafa;

  border: 1px solid #dddddd;
  border-radius: 6px;

  color: black;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 27px;
  letter-spacing: 0.36px;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 1.5rem;

  padding-top: 20px;
}
