.footer {
  background-image: url("../../assets/images/backgrounds/footer-background.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  padding: 3rem 2rem;
  margin-top: auto;
}

.footer-top {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.footer-intro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  margin-left: 3rem;
  margin-top: 1.5rem;
}

.footer-intro img {
  width: 2rem;
  height: auto;
}

.footer-intro h4 {
  font-weight: normal;
  size: 16px;
  line-height: 27px;
  letter-spacing: 0.36px;
  margin-bottom: 0.5rem;
}

.footer-intro p {
  size: 15px;
  font-style: normal;
  line-height: 27px;
  font-weight: 100;
  letter-spacing: 0.36px;
}

.footer-columns {
  display: flex;
  flex-wrap: wrap;
  gap: 6rem;

  margin-right: 5rem;
}

.footer-bottom {
  display: flex;
  justify-content: flex-end;

  border-top: 1px solid #eee;
  margin-top: 2rem;
  padding-top: 1.2rem;
  font-size: 0.8rem;
  color: #888;
  gap: 0.3rem;
}

.social-links {
  display: flex;
  gap: 1rem;
  padding-right: 20px;
  margin-left: auto;
}

.social-link {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.footer-bottom span.highlight {
  color: var(--highlight-color);
  font-weight: 500;
}

@media (min-width: 768px) {
  .footer-top {
    flex-direction: row;
    justify-content: space-between;
  }

  .footer-bottom {
    flex-direction: row;
    justify-content: space-between;
  }
}
