.footer {
  padding: 3rem 2rem;
  margin-top: auto;
}

.footer-background {
  background-image: url("../../assets/images/backgrounds/footer-background.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

:root[data-theme="dark"] .footer-background {
  background-image: none;
}

.footerTop {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.footerIntro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  margin-left: 3rem;
  margin-top: 1.5rem;
}

.footerIntro img {
  width: 2rem;
  height: auto;
}

.footerIntro h4 {
  font-weight: normal;
  size: 16px;
  line-height: 27px;
  letter-spacing: 0.36px;
  margin-bottom: 0.5rem;

  color: var(--color-text-primary);
}

.footerIntro p {
  size: 15px;
  font-style: normal;
  line-height: 27px;
  font-weight: 100;
  letter-spacing: 0.36px;

  color: var(--color-text-primary);
}

.footerColumns {
  display: flex;
  flex-wrap: wrap;
  gap: 6rem;

  margin-right: 5rem;
}

.footerBottom {
  display: flex;
  justify-content: flex-end;

  border-top: 1px solid var(--color-border);
  margin-top: 2rem;
  padding-top: 1.2rem;
  font-size: 0.8rem;
  color: #888;
  gap: 0.3rem;
}

.socialLinks {
  display: flex;
  gap: 1rem;
  padding-right: 20px;
  margin-left: auto;
}

.socialLink {
  width: 40px;
  height: 40px;
  cursor: pointer;

  filter: invert(0);
}

:root[data-theme="dark"] .socialLink {
  filter: invert(1);
}

.footerBottom span.highlight {
  color: var(--primary-color);
  font-weight: 500;
}

@media (min-width: 768px) {
  .footerTop {
    flex-direction: row;
    justify-content: space-between;
  }

  .footerBottom {
    flex-direction: row;
    justify-content: space-between;
  }
}
