.cardTitle {
  text-align: left;

  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.6px;
  line-height: 20px;
  color: var(--color-text-primary);
}
