.navLinks {
  display: flex;
  gap: 2rem;
  list-style: none;

  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  font-style: normal;
  letter-spacing: 0%;

  color: #28224b;
}

.navLinks li {
  cursor: pointer;
  transition: color 0.2s ease;
}

.navLink {
  color: inherit;
  text-decoration: none;
}

.navLinks li:hover {
  color: var(--primary-color);
}

.active {
  color: var(--primary-color);
}
