.navLinks {
  display: flex;
  gap: 2rem;
  list-style: none;
  font-family: Inter;
  font-size: 0.95rem;
}

.navLinks li {
  cursor: pointer;
  transition: color 0.2s ease;
}

.navLinks li:hover,
.navLinks .active {
  color: var(--primary-color);
}
