.footerColumn h5 {
  text-align: left;

  font-weight: 400;
  text-transform: uppercase;
  size: 13px;
  font-style: normal;
  line-height: 20px;
  letter-spacing: 1.5px;

  margin-bottom: 1.5rem;

  color: var(--color-text-secondary);
}

.footerColumn ul {
  list-style: none;
  text-align: left;
  padding: 0;
  margin: 0;
}

.footerColumn li {
  color: var(--color-text-dark);
  size: 15px;
  font-weight: 400;
  font-style: normal;
  line-height: 20px;
  letter-spacing: 0%;
  margin-bottom: 1.5rem;
}

.footerColumn a {
  color: var(--color-text-dark);

  text-decoration: none;
}
