:root {
  --max-width: 1200px;

  --primary-color: #35b8be;
  --primary-color-opaque-15: #35b8be26;
  --footer-background-color: #e8f4f4;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.h1Title {
  font-family: Inter;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  line-height: 55px;
  letter-spacing: 1.65px;

  color: var(--primary-color);
}
