:root {
  --max-width: 1200px;

  --primary-color: #35b8be;
  --primary-color-opaque-15: #35b8be26;
  --footer-background-color: #e8f4f4;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
