.cartBtn {
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
  background-color: var(--primary-color);
  border-radius: 5px;
  padding: 10px;
}

.cartCount {
  position: absolute;
  top: -5px;
  right: -8px;
  color: var(--primary-color);
  background-color: whitesmoke;
  font-size: 0.8rem;
  border-radius: 50%;
  padding: 2px 4px;
}
